.tab-bar { display: flex; gap: 5px; }
.tab { padding: 10px 25px; cursor: pointer; background: #dcdde1; border-radius: 8px 8px 0 0; font-weight: bold; color: #7f8c8d; display: none; }
.tab.active { background: white; color: #2980b9; border-top: 4px solid #2980b9; }
.sub-tab-bar { background: white; padding: 15px; border-bottom: 1px solid #ddd; display: flex; flex-direction: column; gap: 15px; }
.sub-tab-top { display: flex; align-items: center; gap: 15px; width: 100%; }
.btn-sub { padding: 8px 20px; border: none; border-radius: 5px; cursor: pointer; font-weight: bold; background: #ecf0f1; color: #7f8c8d; transition: 0.2s; }
.active-dmg { background: #e74c3c !important; color: white !important; }
.active-av { background: #16a085 !important; color: white !important; }
.filter-container { background-color: #fff9c4; padding: 12px 20px; border-radius: 15px; border: 1px solid #ffecb3; display: flex; flex-wrap: wrap; gap: 15px; align-items: center; }
.filter-group-box { display: flex; align-items: center; gap: 5px; background: rgba(255,255,255,0.5); padding: 5px 10px; border-radius: 8px; }
.filter-label { font-weight: 800; font-size: 11px; color: #555; text-transform: uppercase; }
.filter-select, .filter-input { padding: 4px 8px; border-radius: 4px; border: 1px solid #ccc; font-size: 11px; outline: none; }
.clear-link { color: red; font-weight: bold; cursor: pointer; font-size: 12px; margin-left: auto; }
